<!-- Validation failure messages -->

<% if @vendor.errors.any? %>
  <% @vendor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Vendor #<%= @vendor.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_vendor/<%= @vendor.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">
              Vendor Name
            </label>
            <div class="col-sm-10">
              <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @vendor.name %>">
            </div>
          </div>

          <!-- Label and input for website -->
          <div class="form-group">
            <label for="website" class="col-sm-2 control-label">
              Website
            </label>
            <div class="col-sm-10">
              <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="<%= @vendor.website %>">
            </div>
          </div>

           <!-- Label and input for location_id -->
          <div class="form-group">
            <label for="location_id" class="col-sm-2 control-label">
              Location
            </label>
            <div class="col-sm-10">
              <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :city,  nil), :class => "form-control") %>
            </div>
          </div>

          <!-- Label and input for vendor_size_id -->
          <div class="form-group">
            <label for="vendor_size_id" class="col-sm-2 control-label">
              Vendor size
            </label>
            <div class="col-sm-10">
              <%= select_tag(:vendor_size_id, options_from_collection_for_select(VendorSize.all, :id, :vendor_size, nil), :class => "form-control") %>
            </div>
          </div>

           <!-- Label and input for service -->
          <div class="form-group">
            <label for="capabilities" class="col-sm-2 control-label">
              Services
            </label>
            <div class="col-sm-10">
              <%= select_tag(:service_ids, options_from_collection_for_select(Service.all, :id, :name, nil,), :class => "form-control", :multiple => true) %>
            </div>
          </div>

          <!-- Label and input for summary -->
          <div class="form-group">
            <label for="summary" class="col-sm-2 control-label">
              Summary
            </label>
            <div class="col-sm-10">
              <input type="text" id="summary" name="summary"  placeholder="Summary" class="form-control" value="<%= @vendor.summary %>">
            </div>
          </div>

          <!-- Label and input for contact_name -->
          <div class="form-group">
            <label for="contact_name" class="col-sm-2 control-label">
              Contact name
            </label>
            <div class="col-sm-10">
              <input type="text" id="contact_name" name="contact_name" placeholder="Contact name" class="form-control" value="<%= @vendor.contact_name %>">
            </div>
          </div>

          <!-- Label and input for contact_number -->
          <div class="form-group">
            <label for="contact_number" class="col-sm-2 control-label">
              Contact number
            </label>
            <div class="col-sm-10">
              <input type="text" id="contact_number" name="contact_number" placeholder="Contact number" class="form-control" value="<%= @vendor.contact_number %>">
            </div>
          </div>



          <!-- Label and input for contact_email -->
          <div class="form-group">
            <label for="contact_email" class="col-sm-2 control-label">
              Contact email
            </label>
            <div class="col-sm-10">
              <input type="text" id="contact_email" name="contact_email" placeholder="Contact email" class="form-control" value="<%= @vendor.contact_email %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Vendor
              </button>
              or
              <a href="/vendors/<%= @vendor.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
