<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @vendor.name %></h3>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Website</dt>
              <dd><%= @vendor.website %></dd>

              <dt>Location</dt>
              <dd><%= @vendor.location.city %></dd>

              <dt>Vendor size</dt>
              <dd><%= @vendor.vendor_size.vendor_size %></dd>

              <dt>Summary</dt>
              <dd><%= @vendor.summary %></dd>

              <dt>Rating</dt>
              <dd><%= @vendor.rating %></dd>

              <dt>Contact name</dt>
              <dd><%= @vendor.contact_name %></dd>

              <dt>Contact number</dt>
              <dd><%= @vendor.contact_number %></dd>

              <dt>Contact email</dt>
              <dd><%= @vendor.contact_email %></dd>

              <dt>User</dt>
              <dd><%= @vendor.user_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/vendors" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/vendors/<%= @vendor.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_vendor/<%= @vendor.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add Review</h3>
      </div>
      <div class="panel-body">
        <form action="/create_review" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for vendor_id -->

              <input type="hidden" id="vendor_id" name="vendor_id" placeholder="Vendor" class="form-control" value="<%= @vendor.id %>">

          <!-- Label and input for review -->
          <div class="form-group">
            <label for="review" class="col-sm-2 control-label">
              Review
            </label>
            <div class="col-sm-10">
              <input type="text" id="review" name="review" placeholder="Review" class="form-control" value="<%= @review.review %>">
            </div>
          </div>

          <!-- Label and input for rating -->
          <div class="form-group">
            <label for="rating" class="col-sm-2 control-label">
              Rating
            </label>
            <div class="col-sm-10">
              <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @review.rating %>">
            </div>
          </div>

          <!-- Label and input for project_name -->
          <div class="form-group">
            <label for="project_name" class="col-sm-2 control-label">
              Project name
            </label>
            <div class="col-sm-10">
              <input type="text" id="project_name" name="project_name" placeholder="Project name" class="form-control" value="<%= @review.project_name %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Review
              </button>
              or
              <a href="/reviews">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
