<!-- Validation failure messages -->

<% if @capability.errors.any? %>
  <% @capability.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Capability #<%= @capability.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_capability/<%= @capability.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for vendor_id -->
          <div class="form-group">
            <label for="vendor_id" class="col-sm-2 control-label">
              Vendor
            </label>
            <div class="col-sm-10">
              <input type="text" id="vendor_id" name="vendor_id" placeholder="Vendor" class="form-control" value="<%= @capability.vendor_id %>">
            </div>
          </div>

          <!-- Label and input for service_id -->
          <div class="form-group">
            <label for="service_id" class="col-sm-2 control-label">
              Service
            </label>
            <div class="col-sm-10">
              <input type="text" id="service_id" name="service_id" placeholder="Service" class="form-control" value="<%= @capability.service_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Capability
              </button>
              or
              <a href="/capabilities/<%= @capability.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
